/*Start global*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#preloader{
    position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(0, 0, 0);
      overflow: hidden;
      justify-content: center;
      z-index: 999919;
  }
  
  .gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: rgb(0, 0, 0);
    filter: contrast(20);
    z-index: 999919;
  }
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: rgb(255, 255, 255);
    border-radius: 50%;
  }
  @-moz-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-webkit-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-o-keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @-moz-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-webkit-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @-o-keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
  

html,body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
html{
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
    color: #eeeeee;
}
body{
    background-color: #000000;
    background-image: linear-gradient(60deg, #000000 0%, #2c3e50c0 74%);
    width: 100%;
    height: 100%;
}


section{
    padding: 6rem 0;
}
a{
    text-decoration: none;
    color: #eeeeee;
}
p{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 45px;
}
img{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgb(88, 88, 88);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: 0.8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

header{
    width: 100%;
    height: 100vh;
}

.grid-container{
    padding: 10rem;
}

  
.grid-item {    
    text-align: center;
}

li{
    margin: 2rem 0;
}

.landing-text{
    width: 100%;
    position: absolute;
    top: 45px;
}

.landing-text h1{
    font-family: 'Roboto Slab', serif;;
    left: 12%;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
}

.landing-text h2{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
}

.landing-text h6{
    margin-top: 3px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 200;
}



.main-image{
    height: 16cm;
    width: 16cm;
    position: fixed;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.icon-social{
    height: 4rem;
    width: 4rem;
}

.finger-point{
    transform: rotateZ(45deg);
}

.alert{
    width: 4rem;
    margin-left: 70%;
    margin-top: 40%;
    transform: rotate(45deg);
    animation: pointing 1s infinite alternate;
}

@keyframes pointing{
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }

.wave-img{
    animation: wave-animation 2.5s infinite ease;
  }

  @keyframes wave-animation{
    0% {transform:rotate(0);}
    10%{transform:rotate(-10deg);}
    20%{transform:rotate(12deg);}
    30%{transform:rotate(-10deg);}
    40%{transform:rotate(9deg);}
    50%{transform:rotate(0);}
    100%{transform:rotate(0);}
  }

  .type-writing{
    font-family: 'Roboto Mono', monospace;
    margin-left: 37%;
    margin-top: 160%;
    text-align: center;
    padding: 0.5rem;
    font-weight: 200;
    display: flex;
    color: rgb(255, 255, 255);
    width: 19rem;
    height: 3.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.226);
  }

  .typing{
    font-weight: 300;
    position: relative;
    margin-left: 10px;
}

.not-typing {
    font-weight: 300;
  }

  .typing::after{
      content: "";
      right: -5px;
      position: absolute;
      width: 1px;
      height: 95%;
      border-right: 2px solid #a1a1a1;
      animation: blink 0.5s infinite ease;
  }
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
    top: -100vh;
    z-index: 50;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list{
    flex-direction: column;
    list-style: none;
    right: 2.5rem;
    top: 20.5rem;
    position: absolute;
    height: 100%;
    display: flex;
    
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}
.menu-toggler{
    position: fixed;
    top: 14.5rem;
    right: 1.8rem;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
}





@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px)
{
    .main-image{
        height: 13.5cm;
        width: 13.5cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 27%;
        margin-top: 120%;
        width: 18rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 12.5rem;
        right: 1.8rem;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 17.5rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 3rem;
        width: 3rem;
    }

    .alert{
        width: 4rem;
        margin-left: 70%;
        margin-top: 34%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.6rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 200;
    }

}



@media only screen
and (min-device-width : 411px)
and (max-device-width : 731px)
{
    .main-image{
        height: 14cm;
        width: 14cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 26%;
        margin-top: 100%;
        width: 19.5rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 10rem;
        right: 1.8rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 20rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 3rem;
        width: 3rem;
    }

    .alert{
        width: 4rem;
        margin-left: 71%;
        margin-top: 37%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 200;
    }

}


@media only screen
and (min-device-width : 411px)
and (max-device-width : 823px)
{
    .main-image{
        height: 16cm;
        width: 16cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 27%;
        margin-top: 120%;
        width: 19.5rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 15rem;
        right: 1.8rem;
        width: 6rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 22rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 4rem;
        width: 4rem;
    }

    .alert{
        width: 4rem;
        margin-left: 71%;
        margin-top: 37%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 3.5rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{
    .main-image{
        height: 12cm;
        width: 12cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 16%;
        margin-top: 120%;
        width: 19.5rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 11rem;
        right: 2.2rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 14rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 2.5rem;
        width: 2.5rem;
    }

    .alert{
        width: 3rem;
        margin-left: 75%;
        margin-top: 27%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.6rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
{
    .main-image{
        height: 14cm;
        width: 14cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 25%;
        margin-top: 110%;
        width: 19.5rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 12rem;
        right: 1.8rem;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 17rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 2rem;
        width: 2rem;
    }

    .alert{
        width: 4rem;
        margin-left: 73%;
        margin-top: 30%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 2.6rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.6rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
{
    .main-image{
        height: 16cm;
        width: 16cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 24%;
        margin-top: 130%;
        width: 19.5rem;
        height: 3.5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 13rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 18.5rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 3.8rem;
        width: 3.8rem;
    }

    .alert{
        width: 4rem;
        margin-left: 70%;
        margin-top: 37%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 4rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 1.8rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
{
    .main-image{
        height: 20cm;
        width: 20cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 42%;
        margin-top: 100%;
        width: 32rem;
        height: 5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 19rem;
        right: 1.8rem;
        width: 7rem;
        height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 27rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 5rem;
        width: 5rem;
    }

    .alert{
        width: 4rem;
        margin-left: 83%;
        margin-top: 27%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 6rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
{
    .main-image{
        height: 29cm;
        width: 29cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 42%;
        margin-top: 100%;
        width: 39rem;
        height: 7rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 24rem;
        right: 1.8rem;
        width: 10rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 35rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 8rem;
        width: 8rem;
    }

    .alert{
        width: 7rem;
        margin-left: 83%;
        margin-top: 27%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 9rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 4rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 3rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 1200px)
and (max-device-width : 1600px)
{
    .main-image{
        height: 18cm;
        width: 18cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 47%;
        margin-top: 20%;
        width: 32rem;
        height: 5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 5rem;
        right: 1.8rem;
        width: 6rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 12rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 4rem;
        width: 4rem;
    }

    .alert{
        width: 4rem;
        margin-left: 83%;
        margin-top: 27%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 6rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
    }

}

@media only screen
and (min-device-width : 1025px)
and (max-device-width : 1280px)
{
    .main-image{
        height: 18cm;
        width: 18cm;
        top: 52%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .type-writing{
        margin-left: 47%;
        margin-top: 20%;
        width: 32rem;
        height: 5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
      }

      .menu-toggler{
        position: fixed;
        top: 5rem;
        right: 1.8rem;
        width: 6rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
    }

    .nav-list{
        flex-direction: column;
        list-style: none;
        right: 2.5rem;
        top: 12rem;
        position: absolute;
        height: 100%;
        display: flex;
        
    }

    .icon-social{
        height: 4rem;
        width: 4rem;
    }

    .alert{
        width: 4rem;
        margin-left: 83%;
        margin-top: 27%;
        transform: rotate(45deg);
        animation: pointing 1s infinite alternate;
    }
    
    .landing-text h1{
        left: 12%;
        font-size: 6rem;
        text-align: center;
        font-weight: 500;
    }
    
    .landing-text h2{
        font-size: 3rem;
        text-align: center;
        font-weight: 300;
    }
    
    .landing-text h6{
        margin-top: 3px;
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
    }

}












