* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

/*PreLoader*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    z-index: 999919;
}

.gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #fff;
    z-index: 999919;
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #0a85ae;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #0a85ae;
    border-radius: 50%;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

html {
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

a,
ul,
li {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

/*Trial*/
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FFFFFF 50%, rgb(233, 233, 233) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

header {
    height: 220px;
    background-color: #000;
}

.header_title {
    font-family: 'Montserrat';
    text-align: left;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 36px;
    color: #E6E8E6;
    font-weight: 400;
}

.header_title span::before {
    content: "\A";
    white-space: pre;
}

.header_image {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
    width: 170px;
    height: 174px;
}

.main_text {
    font-size: 18px;
    text-align: center;
    padding: 30px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 55px;
    margin-right: 55px;
}

.main_fancy_text {
    font-size: 30px;
    font-weight: 500;
}

.email_address {
    font-size: 18px;
    display: grid;
    justify-content: center;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 55px;
    border-radius: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

button {
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 32px;
    height: 32px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 8px;
    margin-left: 10px;
    cursor: pointer;
}

/*label,
select,
[placeholder] {
    color: #fff;
}*/

::placeholder {
    color: #fff;
    opacity: 1;
}

input {
    font-size: 12px;
    background: #0A85AE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
    padding: 10px;
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 10px;
    cursor: text;
}

footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    background-color: #000000;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.social {
    background-color: #0a85ae;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
}

.nav_open {
    display: block;
    position: fixed;
    right: 20px;
    top: 30px;
    width: 30px;
}

.nav_close {
    display: block;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
}

.social_nav {
    list-style-type: none;
    margin-top: 70px;
}

.social_nav img {
    margin: 10px;
    width: 40px;
}

.social_notmobile {
    display: none;
}

nav {
    display: none;
}

nav.menu_btn {
    display: block;
}

/*Media Queries*/

/* ----------- NON Retina Screens ----------- */

@media only screen and (min-width: 768px) {

    header {
        height: 220px;
    }

    .header_title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 52px;
        font-weight: 400;
        margin-top: 40px;
        margin-left: 0px;
        padding: 0;
    }

    .header_title span::before {
        content: "\A";
        white-space: normal;
    }

    .header_image {
        position: relative;
        top: 60%;
        width: 268px;
        height: 274px;
    }

    main {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2);
        grid-gap: 30px;
        margin-top: 250px;
    }

    .main_text {
        width: 426px;
        height: 430px;
        font-size: 20px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 20px;
        margin-top: 150px;
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .main_fancy_text {
        font-size: 42px;
        font-weight: 500;
    }

    .email_address {
        width: 426px;
        height: 130px;
        grid-column: 2/2;
        grid-row: 2;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        border-radius: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 1px;
    }

    button {
        text-align: center;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        border-radius: 10px;
        width: 32px;
        height: 32px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 8px;
        margin-left: 10px;
        cursor: pointer;
    }

    ::placeholder {
        color: #fff;
        opacity: 1;
    }

    input {
        font-size: 12px;
        background-color: #0A85AE;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        padding: 10px;
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 10px;
        cursor: text;
    }

    footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #E6E8E6;
        background-color: #000000;
        bottom: 0px;
        display: flex;
        justify-content: center;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        margin-top: 50px;
    }

    nav {
        display: flex;
    }

    .social {
        display: none;
    }

    .social_notmobile {
        grid-column: 2/2;
        grid-row: 1/2;
        width: 426px;
        height: 120px;
        background-color: #0A85AE;
        padding: 5px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 50px;
    }

    .nav_open {
        display: none;
    }

    .nav_close {
        display: none;
    }

    .social_nav_notmobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .social_nav_notmobile img {
        cursor: pointer;
        margin: 15px;
        width: 50px;
    }

    .social_nav_notmobile img:hover {
        transform: scale(1.2);
        filter: brightness(150%);
    }

}

/*Ipad*/

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {

    header {
        height: 220px;
    }

    .header_title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 52px;
        font-weight: 400;
        margin-top: 40px;
        margin-left: 0px;
        padding: 0;
    }

    .header_title span::before {
        content: "\A";
        white-space: normal;
    }

    .header_image {
        position: relative;
        top: 60%;
        width: 193px;
        height: 197px;
    }

    main {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2);
        grid-gap: 30px;
        margin-top: 160px;
    }

    .main_text {
        width: 426px;
        height: 430px;
        font-size: 20px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 20px;
        margin-top: 150px;
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1/1;
        grid-row: 1/3;
    }

    .main_fancy_text {
        font-size: 42px;
        font-weight: 500;
    }

    .email_address {
        width: 426px;
        height: 130px;
        grid-column: 1;
        grid-row: 5;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        border-radius: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 1px;
    }

    button {
        text-align: center;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        border-radius: 10px;
        width: 32px;
        height: 32px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 8px;
        margin-left: 10px;
        cursor: pointer;
    }

    ::placeholder {
        color: #fff;
        opacity: 1;
    }

    input {
        font-size: 12px;
        background-color: #0A85AE;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        padding: 10px;
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 10px;
        cursor: text;
    }

    footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #E6E8E6;
        background-color: #000000;
        bottom: 0px;
        display: flex;
        justify-content: center;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        margin-top: 80px;
    }

    nav {
        display: flex;
    }

    .social {
        display: none;
    }

    .social_notmobile {
        grid-column: 1;
        grid-row: 3;
        width: 426px;
        height: 120px;
        background-color: #0A85AE;
        padding: 5px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 30px;
    }

    .nav_open {
        display: none;
    }

    .nav_close {
        display: none;
    }

    .social_nav_notmobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .social_nav_notmobile img {
        margin: 15px;
        width: 50px;
    }

}

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 1024px) and (max-device-width : 1366px) {

    header {
        height: 220px;
    }

    .header_title {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 52px;
        font-weight: 400;
        margin-top: 40px;
        margin-left: 0px;
        padding: 0;
    }

    .header_title span::before {
        content: "\A";
        white-space: normal;
    }

    .header_image {
        position: relative;
        top: 60%;
        width: 193px;
        height: 197px;
    }

    main {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2);
        grid-gap: 50px;
        margin-top: 200px;
    }

    .main_text {
        width: 426px;
        height: 430px;
        font-size: 20px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
        border-radius: 20px;
        margin-top: 150px;
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1/1;
        grid-row: 1/3;
    }

    .main_fancy_text {
        font-size: 42px;
        font-weight: 500;
    }

    .email_address {
        width: 426px;
        height: 130px;
        grid-column: 1;
        grid-row: 5;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        border-radius: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 1px;
    }

    button {
        text-align: center;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        border-radius: 10px;
        width: 32px;
        height: 32px;
        border: none;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 8px;
        margin-left: 10px;
        cursor: pointer;
    }

    ::placeholder {
        color: #fff;
        opacity: 1;
    }

    input {
        font-size: 12px;
        background-color: #0A85AE;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.103);
        padding: 10px;
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 10px;
        cursor: text;
    }

    footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #E6E8E6;
        background-color: #000000;
        bottom: 0px;
        display: flex;
        justify-content: center;
        padding: 25px;
        text-align: center;
        font-size: 14px;
        margin-top: 80px;
    }

    nav {
        display: flex;
    }

    .social {
        display: none;
    }

    .social_notmobile {
        grid-column: 1;
        grid-row: 3;
        width: 426px;
        height: 120px;
        background-color: #0A85AE;
        padding: 5px;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin-top: 50px;
    }

    .nav_open {
        display: none;
    }

    .nav_close {
        display: none;
    }

    .social_nav_notmobile {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .social_nav_notmobile img {
        margin: 15px;
        width: 50px;
    }

}