* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    overflow-x: hidden;
    width: 100%;
}

/*PreLoader*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    z-index: 999919;
}

.gooey {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #ffffff;
    z-index: 999919;
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #1a1a1a;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #1a1a1a;
    border-radius: 50%;
}

@-moz-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-webkit-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-o-keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@-moz-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-webkit-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@-o-keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}

body {
    background: linear-gradient(#ffffff, #e1e1e1, #c3c3c3, #e8e8e8);
}

.dan-highlight {
    font-size: 30px;
    font-family: 'Montserrat',
    monospace;
    font-weight: 400;
}

.var-highlight {
    font-weight: 500;
}

.string-highlight {
    font-weight: 400;
}

html,body{
    display: flex;
    justify-content: center;
}

#typewriter {
    font-size: 14px;
    font-weight: 300;
    font-family: 'IBM Plex Mono',
    monospace;
    position: fixed;
    top: 25%;
    margin: auto;
    cursor: not-allowed;
}

#typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}

.socials {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 60px;
    padding: 30px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.socials img {
    margin: 10px;
    width: 35px;
    cursor: alias;
}

.footer{
    font-size: 12px;
    font-family: 'Quicksand';
    position: fixed;
    bottom: 40px;
    color: #181818;
    font-weight: 300;
    cursor: not-allowed;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.footer_dan{
    font-family: 'IBM Plex Mono',
    monospace;
    font-weight: 600;
}

.code_symbol{
    font-weight: 600;
}

/*Media Queries*/

/*Big Screens*/

@media only screen and (min-width: 768px) {

    .gooey{
        top: 50%;
    }

    .dan-highlight {
        font-size: 40px;
        font-weight: 400;
    }


    .string-highlight {
        font-weight: 400;
    }

    #typewriter {
        font-size: 18px;
        font-weight: 200;
        top: 15%;
    }

    .socials {
        bottom: 60px;
        padding: 30px;
        border-radius: 70px;
    }

    .socials img {
        margin: 20px;
        width: 50px;
    }

    .footer {
        font-size: 14px;
        bottom: 40px;
        font-weight: 300;
    }

    .code_symbol{
        font-weight: 600;
    }

    .socials img:hover {
        transform: scale(1.4);
        filter: brightness(150%);
    }

    .footer_dan {
        font-weight: 600;
    }

    .code_symbol {
        font-weight: 600;
    }

}

/*Tablets*/

@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {
    
    .dan-highlight {
        font-size: 50px;
        font-weight: 400;
    }


    .string-highlight {
        font-weight: 400;
    }

    #typewriter {
        font-size: 22px;
        font-weight: 200;
        top: 20%;
    }

    .socials {
        bottom: 80px;
        padding: 30px;
        border-radius: 70px;
    }

    .socials img {
        margin: 20px;
        width: 50px;
    }

    .footer {
        font-size: 16px;
        bottom: 50px;
        font-weight: 300;
    }

    .code_symbol {
        font-weight: 600;
    }

    .footer_dan {
        font-weight: 600;
    }

    .code_symbol {
        font-weight: 600;
    }

}
